:root {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

/* fonts */
body,
input,
textarea,
select,
button {
  font-family: sans-serif;
}

input,
textarea,
select,
button {
  font-size: 14px;
}

label {
  display: inline-flex;
  flex-direction: column;
  gap: 1px;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

h2 {
  font-size: 22px;
  margin-top: 0;
}

hr {
  border: none; /* 기본 border 제거 */
  height: 1px; /* 기본 높이 1px 설정 */
  background-color: #ddd; /* 기본 배경색 */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  color: #f70e0e;
}

main {
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}

.GnbLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.GnbLayout > header {
  background-color: white;
}

.GnbLayout > main {
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.gnb {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.gnb > a {
  font-weight: 700;
  font-size: 18px;
}

.gnb nav {
  display: flex;
  gap: 2rem;
}

.ReportLayout {
  display: flex;
  flex-grow: 1;
}

.ReportLayout > aside {
  border-radius: 4px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 10rem;
}

.ReportLayout > main {
  background-color: white;
  flex-grow: 1;
}

.BlankLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.BlankLayout > main {
  background-color: white;
  min-height: 30rem;
  min-width: 40rem;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chatlist {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.chat-bubble {
  line-height: 1.6;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 12px;
  max-width: 80%;
  --hue: 0;
  background-color: hsl(var(--hue) 100% 97%);
  font-size: 15px;
}

.chat-bubble.user {
  align-self: flex-end;
  --hue: 58;
  border-radius: 8px 8px 0 8px;
}

.chat-bubble.ai {
  --hue: 199;
  border-radius: 8px 8px 8px 0;
}

.chat-bubble h3 {
  font-size: 17px;
}

.chat-bubble h4 {
  font-size: 16px;
}

.chat-bubble p {
  margin: 0;
}

.chatinput-form {
  margin-top: 2rem;
  display: flex;
  gap: 8px;
}

.chatinput-form input {
  display: block;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #555;
  padding: 12px;
  box-sizing: border-box;
  font-size: 16px;
}

.chatinput-form button[type="submit"] {
  width: 5rem;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #555;
}

form.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 4px;
}

form.filter-container fieldset {
  padding: 4px 4px;
  display: flex;
  gap: 4px;
}

form.filter-container fieldset legend {
  font-size: 15px;
  padding: 0 3px;
}
